<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/highlight/<%= editorTheme %>.css"/>
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%- include widgets/globalNav %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
      <h1 class="page-header"><%= title %></h1>
      <div class="row">
        <article class="col-x-12 col-sm-12" data-id="<%=post._id%>">
          <p>
            <% if (user && (user.name == post.name)) { %>
            <a class="btn btn-default" href="/edit/<%= post._id %>" role="button">编辑</a>
            <button type="button" id="delete" class="btn btn-danger" data-toggle="modal" data-target="#confirm-layer">删除</button>
            <% } %>
          </p>
          <% var flag = 1 %>
          <% if (user && (user.name != post.name)) { %>
          <% if ((post.reprint_info && post.reprint_info.reprint_from != undefined) && (user.name == post.reprint_info.reprint_from.name)) { %>
          <% flag = 0 %>
          <% } %>
          <% if ((post.reprint_info && post.reprint_info.reprint_to != undefined)) { %>
          <% post.reprint_info.reprint_to.forEach(function (reprint_to) { %>
          <% if (user.name == reprint_to.name) { %>
          <% flag = 0 %>
          <% } %>
          <% }) %>
          <% } %>
          <% } else { %>
          <% flag = 0 %>
          <% } %>
          <% if (flag) { %>
          <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
          <% } %>
          <p class="info">
            作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
            日期：<%= post.time.minute %> |
            标签：
            <% post.tags.forEach(function (tag) { %>
            <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
            <% } %>
            <% }) %>
            <% if (post.reprint_info && post.reprint_info.reprint_from) { %>
            <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
            <% } %>
          </p>
          <p class="article"><%- article %></p>
          <p class="info">
            阅读：<%= post.pv %> |
            评论：<%= post.comments.length %> |
            转载：
            <% if (post.reprint_info && post.reprint_info.reprint_to) { %>
            <%= post.reprint_info.reprint_to.length %>
            <% } else { %>
            <%= 0 %>
            <% } %>
          </p>
          <!-- 提示框 -->
          <div class="modal fade" id="confirm-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">确定要删除该文章吗？</div>
                <div class="modal-footer">
                  <button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">取消</button>
                  <button type="button" id="confirm" class="btn btn-primary" data-dismiss="modal">删除</button>
                </div>
              </div>
            </div>
          </div>
          <div class="ds-thread" data-thread-key="/a/<%= post._id%>" data-title="<%- post.name %>" data-url="http:192.168.1.15:3000/a/<%= post._id%>"></div>
        </article>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/layer/layer.js"></script>
<script type="text/javascript" src="/js/highlight.pack.js"></script>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"veronica"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<script type="text/javascript">
  (function(){
    // 删除
    $('#confirm').on('click', function(){
      $.post('/remove/<%= post._id %>', {}, function() {
        layer.msg('删除成功',{icon:1,time:1500,shade:0.5},function(){
          location.href = '/';
        });
      });
    });

    // 加载 highlight 样式
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  }());
</script>
<script type="text/javascript" src="/js/require.js" data-main="/js/app/main"></script>
</body>
</html>