<%- include header %>
<form method="post" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">用户名：</label>
    <div class="col-sm-9">
      <input type="text" name="name" class="col-sm-9 form-control input-mid" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">密码：</label>
    <div class="col-sm-9">
      <input type="password" name="password" class="col-sm-9 form-control input-mid" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">确认密码：</label>
    <div class="col-sm-9">
      <input type="password" name="password-repeat" class="col-sm-9 form-control input-mid" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">邮箱：</label>
    <div class="col-sm-9">
      <input type="email" name="email" class="col-sm-9 form-control input-mid" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">注册</button>
    </div>
  </div>
</form>
<%- include footer %>