/*fix bootstrap*/
.navbar{border-radius: 0;}

/*blog*/
a { color: #00B7FF; }
article ul {list-style: initial;}
body{font-size: 16px;font-family: Helvetica Neue, Helvetica, Tahoma, Arial,  sans-serif;}
input[type='file'] { display: block }
p { margin: 1em 0; }
.code-box:first-child { padding-right: 0; }
.code-box:last-child { padding-left: 0; }
.code-box textarea { border-radius: 0; }
#view { width: 100%; overflow: auto; height: 414px; padding: 6px 12px; border: 1px solid rgb(204, 204, 204); margin: 3px 0; }
ul { list-style: none; }
main { font-size: 16px; line-height: 2;}
main li{margin: 10px 0;}
main .title { font-weight: bold; font-size: 24px; }
main .title a { color: #3b3b3b; }
.info { font-size: 14px; }
.edit { margin: 3px; padding: 2px 5px; border-radius: 3px; background-color: #f3f3f3; color: #333; font-size: 13px; }
.edit:hover { text-decoration: none; background-color: #f00; color: #fff; -webkit-transition: color .2s linear; }
.global-nav { position: relative; background: #222E2A; }
.prepage a { float: left; text-decoration: none; padding: .5em 1em; color: #ff0000; font-weight: bold; }
.nextpage a { float: right; text-decoration: none; padding: .5em 1em; color: #ff0000; font-weight: bold; }
.prepage a:hover, .nextpage a:hover { text-decoration: none; background-color: #ff0000; color: #f9f9f9; -webkit-transition: color .2s linear; }
.archive { list-style: none; line-height: 28px; }
.archive h3 { margin: 0.5em 0; }
.archive time { float: left; font-size: 14px; color: #999999; margin-right: 1.2em; }
.search { border: 0; width: 6em; text-align: center; font-size: 1em; margin: 0.5em 0; }
.l_head { float: left; margin-left: -4em; box-shadow: 0 1px 4px #888; }
.r_head { float: right; margin-top: -2.5em; box-shadow: 0 1px 4px #888; }
.widget-nav{top: 0;background-color: #f5f5f5;height: 320px;}
.widget-tags{top:300px;}
.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; max-width: 230px; }
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px; }
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca; }
.main-content article { border-bottom: 1px dashed #d9d9d9; }
.post-content p{word-wrap:break-word;word-break:break-all;}
.previous a, .next a{color: #337ab7}

/*box-size*/
.pt20 { padding-top: 20px }
/*main area*/
.main { padding: 20px; }
@media (min-width:768px) {
  .main { padding-right: 40px; padding-left: 40px; }
}
.main .page-header { margin-top: 0; }

/*post*/
.input { width: 200px; height: 24px; line-height: 18px; margin: 3px 3px 3px 0; padding: 3px; border: 1px solid rgba(0, 0, 0, .15); border-radius: 3px; }
.input-tag { width: 100px; height: 24px; line-height: 18px; padding: 3px; margin: 3px 3px 3px 0; border: 1px solid rgba(0, 0, 0, .15); border-radius: 3px; }
textarea { width: 700px; height: 300px; padding: 3px; line-height: 18px; border: 1px solid rgba(0, 0, 0, .15); resize: vertical; border-radius: 3px; }
textarea#comment { margin-bottom: 20px }
textarea#code {min-height: 724px;}
/*login*/
.input-mid { max-width: 397px; }

/*markdown*/
code { padding: 2px 4px; color: #c7254e; border-radius: 3px; font-family: Consolas, "Microsoft Yahei", Arial, sans-serif; }
strong { font-weight: bold; }
.tag { display: inline-block; min-width:28px;color: #017e66; background-color: #E7F2ED; height: 24px; line-height: 18px; margin: 3px 3px 3px 0; padding: 3px; font-weight: normal; text-align: center; border-radius: 2px; }
.tag[href]:hover, .tag[href]:focus { background-color: #017e66; color: #fff; text-decoration: none }
pre, code { font-size: 0.92857em; }
pre { position: relative; border: none; overflow: auto; line-height: 1.3; }

/* markdown editor */
.editor { position: relative; z-index: 1; min-height: 300px; overflow: hidden; border: 1px solid #CCC; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.editor .wmd-input.mono.form-control { margin-top: 31px; resize: none; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4 }
.editor__resize { position: absolute; width: 120px; height: 4px; left: 50%; margin-left: -60px; margin-top: 2px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; cursor: row-resize; text-indent: 110%; white-space: nowrap; overflow: hidden; text-transform: capitalize }
.editor .form-control { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) }
.editor_fullscreen { position: fixed; top: 0; left: 0; z-index: 1991; margin-top: 0; border: none; width: 100%; height: 100vh; background-color: #F6F6F6 }
.editor_fullscreen .wmd { height: 100% }
.editor_fullscreen .wmd .editor-toolbar { position: fixed; top: 0; width: 100% }
.editor_fullscreen .wmd .wmd-input { height: 100% }
.editor_fullscreen .editor-mode a.editor__menu--live { display: block }
.editor.liveMode .wmd { width: 50% }
.editor.liveMode .editor-preview { overflow: auto; left: 50%; width: 50% }
.editor.liveMode .editor-line { left: 50% }
.editor.editMode .wmd { width: 100% }
.editor.editMode .editor-preview { left: 100% }
.editor.editMode .editor-line { left: 100% }
.editor.previewMode .editor-preview, .editor.previewMode .editor-mode { left: 0; width: 100% }
.editor.previewMode .editor-preview { border-left: none }
.editor.previewMode .editor-mode { left: 1px }
.editor.previewMode .editor-line { left: -1px }
.editor.previewMode .editor__menu li { display: none }
.editor-toolbar { position: absolute; top: 0; width: 100%; z-index: 101; border-bottom: 1px solid #CCC }
.editor__menu, .editor-mode { list-style: none; margin: 0; padding: 0 5px; background-color: #FFF }
.editor__menu li, .editor-mode li { float: left; margin: 0 2px; vertical-align: text-top }
.editor__menu a, .editor-mode a { cursor: pointer; display: block; border: 5px solid #FFF; width: 20px; height: 20px; background-repeat: no-repeat; background-size: 380px 60px; background-image: url(../images/editor.png); text-indent: 110%; white-space: nowrap; overflow: hidden; text-transform: capitalize; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box }
.editor__menu a.muted, .editor__menu a.muted:hover, .editor-mode a.muted, .editor-mode a.muted:hover { background-position-y: -20px; background-color: #f6f6f6; border-color: #f6f6f6; cursor: default }
.editor__menu a:hover, .editor__menu a.active, .editor-mode a:hover, .editor-mode a.active { border-color: #f6f6f6; background-color: #f6f6f6; background-position-y: -40px; text-decoration: none }
.editor__menu .active, .editor-mode .active { color: #999 }

/* markdown toolsbar */
ul.tagit li.tagit-new { padding: 0 !important;}
.editor__menu--bold, .editor-mode--bold { background-position: -1px 0 }
.editor__menu--italic, .editor-mode--italic { background-position: -19px 0 }
.editor__menu--link, .editor-mode--link { background-position: -40px 0 }
.editor__menu--quote, .editor-mode--quote { background-position: -55px 0 }
.editor__menu--code, .editor-mode--code { background-position: -75px 0 }
.editor__menu--image, .editor-mode--image { background-position: -93px 0 }
.editor__menu--ol, .editor-mode--ol { background-position: -115px 0 }
.editor__menu--ul, .editor-mode--ul { background-position: -132px 0 }
.editor__menu--title, .editor-mode--title { background-position: -151px 0 }
.editor__menu--hr, .editor-mode--hr { background-position: -170px 0 }
.editor__menu--undo, .editor-mode--undo { background-position: -190px 0 }
.editor__menu--redo, .editor-mode--redo { background-position: -207px 0 }
.editor__menu--zen, .editor-mode--zen { background-position: -227px 0 }
.editor__menu--unzen, .editor-mode--unzen { background-position: -245px 0 }
.editor__menu--two, .editor-mode--two { background-position: -280px 0 }
.editor__menu--help, .editor-mode--help { background-position: -285px 0 }
.editor__menu .editor__menu--divider, .editor-mode .editor__menu--divider { margin: 5px 4px; width: 0; height: 20px; padding-left: 0; padding-right: 0; border-right: 1px solid #ddd; text-indent: 110%; white-space: nowrap; overflow: hidden; text-transform: capitalize }
.editor__menu--edit, .editor-mode--edit { background-position: -304px 0 }
.editor__menu--live, .editor-mode--live { background-position: -323px 0 }
.editor__menu--preview, .editor-mode--preview { background-position: -341px 0 }
.editor__menu-trash{ background-position: -360px 0 }
.editor-help { border-bottom: none; background-color: #faf2cc; font-size: 13px }
.editor-help .nav-tabs { position: fixed; top: 0; width: 100%; border-bottom: none; background-color: #fcf8e3 }
.editor-help .nav>li { margin: 0 }
.editor-help .nav>li>a { margin: 0; padding: 6px 10px; border: none; color: #8a6d3b; border-radius: 0 }
.editor-help .nav>li.active>a, .editor-help .nav>li>a:hover { border: none; background-color: #faf2cc; color: #8a6d3b; cursor: pointer }
.editor-help .nav>li.active>a { font-weight: bold }
.editor-help-content { margin-top: 30px; padding: 10px }
.editor-help-content pre { padding: 5px 8px; border: none; background-color: #fcf8e3; font-size: 12px }
.editor-help-content code { white-space: normal }
.widget-editor__wrap { background: #F6F6F6; border-top: 1px solid #DDD }
.widget-editor .widget-editor__help { margin-top: 40px }
.widget-upload { position : relative }
.widget-upload .widget-upload__file {  position: absolute; opacity: 0; width: 85%; height: 100%; z-index: 10; cursor: pointer }
.wmd { position: relative; overflow: hidden; background-color: #FFF; height: auto; min-height: 420px; padding: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", sans-serif; border-right: none; -moz-transition: width 0.3s ease; -o-transition: width 0.3s ease; -webkit-transition: width 0.3s ease; transition: width 0.3s ease }
.wmd .wmd-input { height: 100%; min-height: 420px; border: none }
.editor-line { position: absolute; top: 0; left: 50%; height: 100%; z-index: 105; border-left: 1px solid #CCC; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease }
.editor-preview { position: absolute; padding: 20px; padding-top: 50px; border-left: 1px solid #CCC; background-color: #f6f6f6; height: 100%; top: 0; z-index: 100; overflow: auto; overflow-x: hidden; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.3s ease }
.editor-preview>p { margin-top: 0; }
blockquote { padding: 10px 21px; margin: 18px 0; font-size: 14px; border-left: 5px solid #eee }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0 }
blockquote footer, blockquote small, blockquote .small { display: block; font-size: 80%; line-height: 1.5; color: #777 }
blockquote footer:before, blockquote small:before, blockquote .small:before { content: '\2014 \00A0' }
.blockquote-reverse, blockquote.pull-right { padding-right: 15px; padding-left: 0; border-right: 5px solid #eee; border-left: 0; text-align: right }
.blockquote-reverse footer:before, .blockquote-reverse small:before, .blockquote-reverse .small:before, blockquote.pull-right footer:before, blockquote.pull-right small:before, blockquote.pull-right .small:before { content: '' }
.blockquote-reverse footer:after, .blockquote-reverse small:after, .blockquote-reverse .small:after, blockquote.pull-right footer:after, blockquote.pull-right small:after, blockquote.pull-right .small:after { content: '\00A0 \2014' }
blockquote:before, blockquote:after { content: "" }
blockquote { border-color: #008E59; color: #555; font-size: 1em }
blockquote p:first-child { margin-top: 0 }


/*foot*/
.footer{text-align: center;background-color: #222;color: #fff;}